{% load static %}
{%include 'galeria/base.html'%}

{% block content %}
            <section class="conteudo">

                <section class="imagem">
                    <div class="imagem__conteudo">
                        <img class="imagem__imagem" src="{{ f.foto.url }}" alt="{{ f.nome }}">
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{f.nome}}</p>
                                <p class="imagem__descricao">{{f.legenda}}</p>
                                <p class="imagem__texto">{{f.descricao}}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}